@import '../doc-panel';

.tw-sample-page {
  max-width: 52rem;
  margin: 0 auto;
  padding: 5rem 2rem 6rem;

  .doc-panel {
    font-family: 'Lato', sans-serif;

    h1 {
      font-size: 18pt;
      color: #2E74B5;
    }

    h2 {
      font-size: 14pt;
      color: #454545;
    }
  }

  @media (max-width: 48rem) {
    padding: 3rem 1.25rem 4rem;
  }
}
