<header class="header">
  <div (click)="onNavButtonClick(homePath)" (keydown.enter)="onNavButtonClick(homePath)" tabindex="0" class="header__brand">
    <img class="header-image" src="pfp.jpg">
    Meghan Neuman
  </div>
  <nav class="header__nav">
    <a (click)="onWorkClick()" (keydown.enter)="onWorkClick()" tabindex="0" class="header__nav-link">Work</a>
    <!--<a (click)="onNavButtonClick('resume')" class="header__nav-link">Resume</a>-->
    <a (click)="onAboutClick()" (keydown.enter)="onAboutClick()" tabindex="0" class="header__nav-link">About</a>
    <a (click)="onTestimonialsClick()" (keydown.enter)="onTestimonialsClick()" tabindex="0" class="header__nav-link">Testimonials</a>
    <a href="mailto:iamMeghanNeuman@gmail.com" class="header__nav-link">Contact Me</a>
    <a href="https://www.linkedin.com/in/iammeghanneuman/" rel="noopener noreferrer" target="blank" class="header__nav-link">LinkedIn</a>
  </nav>
</header> 