<div class="card" (click)="onNavButtonClick(project.routerLink)" (keydown.enter)="onNavButtonClick(project.routerLink)" tabindex="0">
  <div class="card__body">
    <div class="card__text">
      <h3 class="card__title">{{ project.title }}</h3>
      <p class="card__description">{{ project.description }}</p>
    </div>
    <div class="card__image-wrapper">
      <img
        [src]="project.imageUrl"
        [alt]="project.title"
        class="card__image"
      />
    </div>
  </div>
  <div class="card__tags">
    @for (tag of visibleTags; track tag.label) {
      <span [class]="getTagClass(tag.color)">{{ tag.label }}</span>
    }
  </div>
</div>