:root {
  --color-primary: #5e6eff;
  --color-secondary: #9458c8;

  --color-guru: #47a758;
  --color-command: #e07b2a;

  --text-primary: #454545;
  --text-secondary: #939393;

  --quote-background: rgba(113, 100, 228, 0.05);

  --font-size-small: 0.875rem;
  --font-size-base: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 2rem;
  --font-size-xxlarge: 2.5rem;

  font-size: 16px;
}

@media (min-width: 3200px) {
  :root {
    font-size: 30px;
  }
}

@media (max-width: 1920px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 1280px) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  :root {
    --offline-banner-height: 4rem;
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 10px;
  }
}